*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Utility classes */
section{
    margin-left: 50px;
    padding: 10px;
}
span{
 margin-top: 10px;
}
h3{
    display: inline-block;
    }
/* /Utility classes */
}
header{
    height: 80px;
}
h1{
    display: inline-block;
}
main{
    height: 500px;
    width: 1000px;
    background-color: rgb(223, 219, 219);
}
.content{
    margin-left: 20px;
}
.container{
    position: relative;
    top: 20px;
    background-color: white;
    margin: auto;
    width: 800px;
    height: 400px;
}
/* "ADD" Section */
#add{
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}
#add-task , #add-section{
    border-radius: 5px;
    padding: 5px;
}
#add-task{
    color: white;
    background-color: cornflowerblue;
}
#add-section{
    color: gray;
    border:1px solid black;
}
/* / "ADD" Section */
/* checkmark and crossmark */
.checkmark , .crossmark{
    font-weight: 900;
    border-radius: 10px;
}
.checkmark{
    color: green;
    border: 1px solid green;
}
.crossmark{
    color: red;
    border: 1px solid red;
}
/* Today */
.editorial , .q1-goals , .recruiting , .mobile{
    font-size: 10px;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.editorial{
    background-color: cornflowerblue;
}
.q1-goals{
    background-color: purple;
}
.recruiting{
    background-color: green;
}
.mobile{
    background-color: rgb(247, 192, 91);
}